* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background:  linear-gradient(to top, #6fa6e6 0%, #b388e6fa 100%);
  }
  
  .column
  {
      width:25%;
      float:left;
      padding:100px 10px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }
  .row1:after{
    content:"";
    display:table;
    clear:both;
}  
    h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        font-size: 18px;
    } 
    .border{
        width: 115px;
        height: 2px;
        background: #8ED3F3; 
        margin-left: 5.5rem;
    } 
    .heading{
        font-size: 34px; 
        margin-top: 90px; 
        margin-left: 530px; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-weight: bolder;
    }
    .border1{
        width: 315px;
        height: 2px;
        background: blanchedalmond; 
        margin-left: 41rem;
    }

 
  @media screen and (min-width: 768px) and (max-width: 1024px){
    .column
    {
        width:100%;
        display:block;
        margin-bottom: 20px;
    }         
      .heading{
          font-size:  35px; 
          margin-top: 90px; 
          margin-left: 60px; 
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
          font-weight: bolder;
      }
  .border1{
      width: 360px;
      height: 2px;
      background: black; 
      margin-left: 10rem; 
  }  

  }
  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }         
        .heading{
            font-size:  15px; 
            margin-top: 90px; 
            margin-left: 30px; 
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
            font-weight: bolder;
        }
    .border1{
        width: 150px;
        height: 2px;
        background: black; 
        margin-left: 5rem;
    } 
  }    
  .card
  {
      box-shadow: 0 30px 30px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align: center;
      border-radius:40px;
      padding-bottom:15px;
  }

  .title
  {
      color: #353935;
      font-size:14px; 
      font-weight: 500; 
      font-family: cursive;
  } 
  .content{ 
      color: #353935;
      font-size: 14px; 
      font-family: cursive; 
      font-weight: 700;
  }  
  .content1{   
    color: #353935;
    font-size: 14px; 
    font-family: cursive; 
    font-weight: 600;
} 


  button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:black;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
  }

  a{ 
      padding: 1rem;
      text-decoration: none;
      font-size:22px;
      color: #8ED3F3; 
      transition: 0.2s;
      border-radius: 70%
  }

  a:hover,button:hover{
    background: #2c3e50;
    color: white;
  } 