* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("img2.jpg");
    background-size: 1600px 540px;
    background-position: center;
	margin-bottom: 60px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: Poppins;
    
}
}
.wrapper {
	width: 1750px;
	margin: auto;
}
header {
	height: 95vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
nav ul{
	background: transparent;
	float: right;
	list-style: none;
	margin-top: 0px;
} 
nav ul li{ 
	list-style: none;
	float:left;
	width:120px;
	margin:20px;
	padding 20px;
}
nav ul li a{
	color:black;
	text-decoration: none;
	padding: 10px 30px;
	font-family: Bradly Hand;
	font-size: 25px;
	font-weight: 900;
	font-style: italic;
	text-transform: initial;
}
nav ul li a:hover {
	text-decoration-line: underline;
	color:black;
}
nav ul li ul{
	display:none;
	background-color: white;
	padding:10px;
	border-radius: 0px 0px 10px 10px;
}
nav ul li:hover ul{
	display:block;
}
nav ul li ul li a{
	font-size: 17px;
	padding-right: 3px;
	padding-left: 3px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li ul li a:hover{
	background-color: grey;
}

.logo {

	float: left;
}
.logo img {
	width: 42%;
	padding: 0px 0;
}
.welcome-text {
	position: absolute;
	width: 500px;
	height: 300px;
	margin: 10% 30%;
	text-align: left;
}
.welcome-text h1 {
	text-align: justify;
    margin-left:-370px;
	margin-top: 70px;
	color: yellow;
	text-transform: uppercase;
	font-size: 90px;
}
.welcome-text h1 span {
	color: whitesmoke
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color:#fff;
}
.welcome-text h2{
	font-size: 20px;
	margin-top: -5px;
	margin-left: -300px;
	color:white;
	font-family: Zapf Chancery,cursive; 
	font-weight: 9px;
	font-variant: inherit;
	font-stretch: ultra-expanded;
	
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo { 

		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 70% 0;
	}
	.welcome-text h1 {
		font-size: 80px;
	}
}